.expense-date {

    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    border: 1px solid #ececec;
    background-color: #2a2a2a;
    color: white;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px rgb(252, 252, 252, 0.5);

    &__day {
        font-size: 1.5rem;
        font-weight: bold;
    }

    &__month {
        font-size: 0.75rem;
        font-weight: bold;
    }

    &__year {
        font-size: 0.75rem;
    }
}